---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} // {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	<!-- Information and featured image-->
	<meta property='og:title' content='ryan arias delafosse - humanitarian data scientist'/>
	<meta name="image" property="og:image" content="https://rydela.github.io/assets/images/pi-approximation-day-2014.png">>
	<meta property="og:type" content="Website">
	<meta name="description" property="og:description" content="Humanitarian data scientist interested in how we can use machine learning and human centered design in emergency response.">
	<!-- -->
	{% include head.html %}
</head>
<body>
	{% include header.html %}
  <main class="content">
		<section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>I'm a humanitarian data scientist interested in how we can use machine learning and human centered design in emergency response.</p>
				<br>
        <p>Over the course of the past decade I've worked with the Red Cross, UN, NGOs, and governments in conflict and disaster relief in the Middle East, Latin America, and Caribbean.</p>
        <br>
				<p>My work has ranged from multi-sector needs assessments, ICT4D project management, and digital transformation, to GIS mapping, machine learning, and NLP algorithms. </p>
        <br>
        <h2>Skill stack.</h2>
        <p><i>Development:</i></p>
        <p>HTML | CSS | Git | SharePoint | SQL | WordPress</p>
        <br>
        <p><i>Data Science:</i></p>
        <p>R | Python | Scikit-Learn | TensorFlow | Keras | NLP Methodology</p>
        <br>
        <p><i>Assessment & Mapping:</i></p>
        <p>SPSS | Excel | OpenStreetMap | QGIS | ArcGIS | Adobe Creative Suite | PowerBI</p>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>
