<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="index,follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">
<!-- Information and featured image-->
<meta property="og:type" content="website" />
<meta property='og:title' content='ryan arias delafosse - humanitarian data scientist'/>
<meta property='og:image' content='https://rydela.github.io/assets/images/pi-approximation-day-2014.webp'/>
<meta property="og:description" content="Humanitarian data scientist interested in how we can use machine learning and human centered design in emergency response." />
<!-- -->
<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
